.header__lang-link {
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal; 
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  margin: 0;
  text-align: right;
  font-display: swap;
  margin: 18px 0 6px;

}

.header__lang-link:nth-child(1) {
  border-bottom:  #FFFFFF solid;
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

