.photo-grid {
  max-width: calc(100% - 96px);
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); 
  gap: 16px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 1016px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    margin-top: 88px;
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    margin-top: 64px;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}