.place__paragraph {
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px ;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
  }
}
   
@media screen and (max-width: 767px) {
  .place__paragraph {
    min-width: 90%;
    margin: 0 auto 0;
  }
} 

@media screen and (max-width: 480px) {
  .place__paragraph {
      max-width: 288px ;
      margin: 0 16px 0;
  }
}