.cover {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1184px;
	flex-direction: column;
	position: relative;
	margin: 92px auto 0;
	min-height: 740px;
	box-sizing: border-box;
	background-image: url("../../images/cover-trains.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 1279px) {
	.cover {
		width: 100%;
		min-height: 640px;
	}
}

@media screen and (max-width: 1023px) {
	.cover {
		margin: 90px 0 0;
		width: 100%;
		min-height: 480px;
	}
}

@media screen and (max-width: 767px) {
	.cover {
		margin: 66px 0 0;
	}
}

@media screen and (max-width: 480px) {
	.cover {
		margin: 66px 0 0;
		width: 100%;
		min-height: 200px;
	}
}

