.place {
  display: grid;
  grid-template-columns: 460px max-content;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-rows: auto;
  margin: 80px auto 0;
} 

.place:nth-child(1) {
    margin-top: 0;
}

@media screen and (max-width: 1130px) {
    .place {
      grid-template-columns: 440px max-content;
      column-gap: 32px;
      margin: 80px auto 0;
    }
  }
  
@media screen and (max-width: 920px) {
  .place {
    grid-template-columns: minmax(340px, 440px) max-content;
    column-gap: 28px;
    margin: 73px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    margin: 73px auto 0;
  }
}

@media screen and (max-width: 640px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-top: 50px;
  }
}