.footer {
  display: flex;
  max-width: 1184px; 
  margin: 92px auto 0;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 24px;
}

@media screen and (max-width: 1279px) {
    .footer {
      width: calc(100% - 48px);
    }
  }
  
  @media screen and (max-width: 620px) {
    .footer {
    max-width: 186px;
    align-items: flex-start;
    padding: 64px 0 24px 16px;
    margin: 0;
  }
  }