.intro__title {
  color: #FFFFFF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 107%;
	margin: 0;
}

@media screen and (max-width: 690px) {
	.intro__title {
		 font-size: calc((100vw - 320px)/(1280 - 320) * (54 - 32) + 32px);
		}
	} 

	
@media screen and (max-width: 480px) {
	.intro__title {
		font-size: 32px; 
		line-height: 109%;
		}
}